# Virtual environment directory
.venv

*.pyc
__pycache__/

# updatable_multiclipboard shelve files
/automate_boring_stuff_projects/updatable_multiclipboard/mcb.bak
/automate_boring_stuff_projects/updatable_multiclipboard/mcb.dat
/automate_boring_stuff_projects/updatable_multiclipboard/mcb.dir
